<div id="app" :class="appBg">
  <!-- <div class="d-flex h-100" v-if="path=='loading'"> -->
  <!--   <b-spinner -->
  <!--     class="m-auto" -->
  <!--     style="width: 3rem; height: 3rem;" -->
  <!--     variant="primary"> -->
  <!--   </b-spinner> -->
  <!-- </div> -->
  <div>
    <v-menu
      :get_outline="get_outline"
      :navbarVariant="navbarVariant"
      :path="path"
      :set_path="set_path"
      :storage="storage"
      :isMetalReady="isMetalReady"
      :change_theme="change_theme"
      :update_metal="update_metal"
      :metalInfo="metalInfo">
    </v-menu>
    <v-injected
      style="min-height:66px;" :injected="injected" :get_text="get_text" :get_bg="get_bg">
    </v-injected>
    <div class="d-flex justify-content-center w-100" style="padding-top:34px;">

      <v-action
        v-if="path=='deposit' || path=='reveal' || path=='swap' ||
              path=='refund' || path=='admin'"
        :injected="injected"
        :get_text="get_text"
        :get_bg="get_bg"
        :get_bg_text="get_bg_text"
        :get_outline="get_outline"
        :get_variant="get_variant"
        :path="path"
        :storage="storage"
        :update_metal="update_metal"
        :update_extraton="update_extraton"
        :extraton_reveal="extraton_reveal"
        :isMetalReady="isMetalReady"
        :metalInfo="metalInfo"
        :form="form"
        :deposit="deposit"
        :deposit_reveal="deposit_reveal"
        :refund="refund"
        :dune_client_deposit="dune_client_deposit"
        :dune_client_swap="dune_client_swap"
        :dune_client_refund="dune_client_refund"
        :ton_client_reveal="ton_client_reveal"
        :relay_reveal="relay_reveal"
        :currentSwap="currentSwap"
        :swap="swap"
        :set_path="set_path">
      </v-action>

      <v-swaps
        v-else-if="path=='swaps'"
        :get_bg="get_bg"
        :get_text="get_text"
        :get_outline="get_outline"
        :get_bg_text="get_bg_text"
        :get_variant="get_variant"
        :get_table_class="get_table_class"
        :update_metal="update_metal"
        :isMetalReady="isMetalReady"
        :storage="storage"
        :swaps="swaps"
        :form="form"
        :pp_ton_amount="pp_ton_amount"
        :submit_dn1="submit_dn1"
        :make_swap="make_swap"
        :make_reveal="make_reveal"
        :get_refund="get_refund"
        :refresh_swaps="refresh_swaps"
        :set_path="set_path">
      </v-swaps>

      <div class="d-flex h-100" v-else-if="path=='loading'">
        <b-spinner
          class="m-auto"
          style="width: 3rem; height: 3rem;"
          variant="primary">
        </b-spinner>
      </div>

      <v-cmd
        v-else-if="path=='client'"
        :get_bg_text="get_bg_text"
        :get_text="get_text"
        :cmd="cmd"
        :copied="copied"
        :copy="copy">
      </v-cmd>

      <v-status
        v-else
        :get_text="get_text"
        :get_bg="get_bg"
        :get_bg_text="get_bg_text"
        :get_outline="get_outline"
        :storage="storage"
        :advanceTimestamp="advanceTimestamp"
        :set_path="set_path">
      </v-status>

    </div>
  </div>
  <!-- <v-dummy v-else :storage="storage"></v-dummy> -->
</div>
